<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">+
    <title>Add Reservation</title>
    <link rel = "stylesheet" type="text/css" th:href="@{\webjars\bootstrap\5.2.0\css\bootstrap.min.css}">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Add Your Reservation</h1>
    </div>
    <form th:action="@{/booking/save}" th:object="${booking}"
          method="Post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Customer Full Name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{customerName}" class="form-control" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">pickupLocation: </label>
                <div class="col-8">
                    <select th:field="*{pickupLocation}">
                        <option th:value="'Colombo'" th:text="Colombo"></option>
                        <option th:value="'Gampaha'" th:text="Gampaha"></option>
                        <option th:value="'Galle'" th:text="Galle"></option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">dropLocation: </label>
                <div class="col-8">
                    <select th:field="*{dropLocation}">
                        <option th:value="'Colombo'" th:text="Colombo"></option>
                        <option th:value="'Gampaha'" th:text="Gampaha"></option>
                        <option th:value="'Galle'" th:text="Galle"></option>
                    </select>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm(){
        window.location = "[[@{/customers}]]";
    }
</script>
</body>
</html>